<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.lovo.spring.ioc.dao.IMybatisUserDao">

 
  <select id="findUser" resultType="user">
    select * from user where userName=#{0} and password=#{1}
  </select>
  <insert id="savaUser" parameterType="user">
   insert into user(id,userName,password)values(#{id},#{userName},#{password})
  </insert>
</mapper>